*{
    background-color: rgb(237, 230, 230);
}
.memeGenarator{
    font-family: "Roboto",sans-serif;
    text-align: center;
}
.memeGenarator img{
    height: 430px;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 5px;
}
.memeGenarator .Genarator-meme-btn{
    padding: 8px 20px;
    border: 2px solid rgb(255, 255, 255);
    margin: 24px 0;
    font-size: 20px;
    border-radius: 5px;
    color: #ffffff;
    background: rgb(49, 49, 221);
    cursor: pointer;
    transition: all 400ms ease;
}
.memeGenarator .Genarator-meme-btn:hover{
    padding: 8px 36px;
    letter-spacing: 3px;
}
.memeGenarator .meme-author {
    margin: 8px;
}
